

.portfolio-thumb {
background-color: $highlight;
  p {
    background-color: white;
  }
}

.grid-row {
  background-color:#fff;

}



/*header styles*/

.main-header {
  padding-top:35px;
  padding-bottom:35px;
}

.main-title {
  fill:#FFF;
h1 {
    font-size:3.5rem;
    font-weight:700;
    text-transform:uppercase;
  }
  .job-title{
    font-weight:300;
    font-size:2.5rem;
    line-height: .5;
  }
  font-family: $refrigerator;

}
