

.portfolio-thumb {
background-color: $highlight;
  p {
    background-color: white;
  }
}

.grid-row {
  background-color:#fff;

}



/*header styles*/

.main-header {
  padding-top:35px;
  padding-bottom:35px;
}

.main-title {
  fill:#FFF;
h1 {
    font-size:3.5rem;
    font-weight:700;
    text-transform:uppercase;
  }
  .job-title{
    font-weight:300;
    font-size:2.5rem;
    line-height: .5;
  }
  font-family: $refrigerator;

}


///*no gutter

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  margin-top:0;
  margin-bottom:0;


  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
