// nav bar

.nav-menu {

}

.menu-container {
  font-size:1.2rem;
  line-height:1;
   color: black;
  position: absolute;
  bottom:-95px;

  .btn__nav {
    color:black;
    font-weight: 300;
     text-align: center;
     padding:5px;
     line-height: 1;
     float: left;
    &--active {
      background-color: black;
      color:#fff;
    }

}
  }
//main-grid-container

.thumb--item {
  overflow: hidden;
  figure {
    width: 100%;
    position: relative;
    height: calc( width - 1px);
    background-color: #000;
    overflow:hidden;
    img {

      @include customTransition(all,.5s,ease );
      position:  absolute;
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
      width: auto;
      height: 100%;
      opacity:1;
      @include transform(scale3d(1, 1, 1));

 }
&:hover {
   img {
       opacity:.5;
         @include transform(scale3d(1.2, 1.2, 1));
   }
}

 //trick for aspect ratio
 &:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
  }

}

//header
#blackStripe {
  opacity: 1;
}

#whiteStripe {
  fill: #FFF;
}


#title-black {
  .main-title{
    fill:#000;
  }
}
