// nav bar

.nav-menu {

}

.menu-container {
  font-size:1.2rem;
  line-height:1;
   color: black;
  position: absolute;
  bottom:-95px;

  .btn__nav {
    color:black;
    font-weight: 300;
     text-align: center;
     padding:5px;
     line-height: 1;
     float: left;
    &--active {
      background-color: black;
      color:#fff;
    }

}
  }
//main-grid-container

.thumb--item {

  overflow: hidden;
  cursor: pointer;
    overflow:hidden;
    margin-top: 1px;
    opacity:1;
  figure {
    width: 100%;
    position: relative;
    background-color: #FFF;
    margin: 0;

    .block--color {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      z-index: 100;
      //  @include customTransition(transform,.35s,ease );
        @include transform(translateY(350px));
      background-color: black;
    }

    figcaption {
      position: absolute;
      text-align: center;
      bottom:0%;
      color:#fff;
      z-index: 300;
      opacity:0;
      padding-top:2px;
      padding-bottom:5px;
      padding-left: 10px;
        @include customTransition(opacity,.4s,ease );
      h2 {
          font-family: $refrigerator;
          text-align: center;
          font-size: 1.8rem;
          line-height: .8;
          font-weight: 300;

      }
    }

    img {

    //  @include customTransition(all,.5s,ease );
      position:  absolute;
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
      width: auto;
      height: 100%;
      opacity:1;
     @include transform(scale3d(1, 1, 1));

 }
/*&:hover {
   img {
       opacity:.4;
         @include transform(scale3d(1.2, 1.2, 1));
   }
   .block--color {
       @include transform(translateY(85%));
   }
   figcaption {
     opacity:1;
   }

}*/

 //trick for aspect ratio
 &:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
  }

}
.selected {
  figure {
    &:hover {
      .block--color {
          @include transform(translateY(0%));
      }
      figcaption {
        opacity:0;
      }
    }

    .block--color {
        @include transform(translateY(0%));
    }
  }

}
//header


#title-black {
  .main-title{
    fill:#000;
  }
}

  .trans-out {
  	-webkit-transition: -webkit-transform $anim-time;
  	transition: transform $anim-time;
  }

.trans-in {
  -webkit-transition: -webkit-transform $anim-time;
  transition: transform $anim-time;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}
//effect

.placeholder {
	pointer-events: none;
	position: absolute;
	width: calc(100% + 0px);
	height: calc(100% + 0px);
	z-index: 100;
	top: 0;
	left: 0;
	background:#000;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;


}
